@model wssccatIotDashboard.Models.GetKafkaData

@{
    ViewBag.Title = "KafkaDataView";
}

<h2>KafkaDataView</h2>

<div>
    <h4>GetKafkaData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BarometricPressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarometricPressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FahrenheitTemperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FahrenheitTemperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Humidity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Humidity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
